.pet{
    width: 100%;
    height: auto;
}
.pet-main{
    width: 303.75px;
    height: 273.75px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(209, 254, 209);
    border-radius: 15px;
    position: relative;
}
.pet-name{
    position: absolute;
    width: 100%;
    height: 45px;
    top:0;
    left: 0;
    text-align: center;
    line-height: 45px;
    color: white;
    text-shadow: 1px 1px 1px gray;
    font-size: 20px;
    margin-top: 10px;
}
.pencil:hover{
    cursor: pointer;
}
.pet-img{
    position: absolute;
    left:0;
    right: 0;
    top:110px;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.pet-img>img{
    width: 100%;
}
.pet-c{
    width: 100%;
    height: 268.75px;
    background-image: url(../img/grass.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center 40px;
}
.pet-progress{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}
.pet-pp{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pp-lv{
    width: 25%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px gray;
}
.pp-c{
    width: 75%;
    height: 50%;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 10px;
}
.pp-cc{
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(57, 230, 57);
}
.pet-pbtn{
    width: 20%;
    color: white;
    text-align: center;
    line-height: 26.98px;
    background-color: rgba(252, 183, 54,1);
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 5px;
    height: 85%;
    font-size: 14px;
}
.pet-pbtn:hover{
    cursor: pointer;
    background-color: rgba(252, 183, 54,0.9);
}
.pet-skill{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 250px;
    overflow: scroll;
}
.psk{
    width: 100%;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    line-height: 55px;
    margin-bottom: 10px;
    box-shadow: 5px 3px 5px gray;
    position: relative;
}
.lock{
    position: absolute;
    left:25px;
    top:18px;
}