<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/gambler-luck-svgrepo-com.svg">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/pet.css">
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Scratch</title>
</head>
<style>
    [v-cloak]{
        display: none;
    }
</style>
<body>
    <div id="app" class="main" v-cloak>
        <div class="ticket" v-if="ticketBlock" @click="closeTK">
            <h1>恭喜獲得</h1>
            <div class="tk-icon">
                <img :src="ticketItem" alt="">
                <div class="tk-num">{{ticketNum}}</div>
            </div>
            <div class="tk-text">點擊任意一處以關閉</div>
        </div>
        <div class="alertMsgBlock" v-if="alertMsgBlock">
            <p v-if="alertOption=='check'"><i class="fa-solid fa-circle-check check"></i> {{alertMsg}}</p>
            <p v-if="alertOption=='warn'"><i class="fa-solid fa-circle-exclamation warn"></i> {{alertMsg}}</p>
            <p v-if="alertOption=='error'"><i class="fa-solid fa-circle-xmark error"></i> {{alertMsg}}</p>
        </div>
        <div class="bell">
            <i  @click="toggleBell('開啟')"class="fa-regular fa-bell-slash" v-if="bellStatus==0"></i>
            <i  @click="toggleBell('關閉')" class="fa-regular fa-bell" v-else></i>
        </div>
        <div class="frame" v-if="openID!=0">
            <i class="fa-sharp fa-solid fa-xmark xmark" @click="closeFrame(0)"></i>
            <div class="history" v-if="openID==1">
                <h1>歷史紀錄</h1>
                <div class="history-list">
                    <div>
                        <div class="level-n">編號</div>
                        <div class="level">品級</div>
                        <div class="level-c">內容</div>
                    </div>
                    <div v-for="(obj,key,index) in history">
                        <div class="level-n">{{(key+1)}}</div>
                        <div class="level">{{obj.title}}</div>
                        <div class="level-c">{{obj.content}}</div>
                    </div>
                </div>
            </div>
            <div class="buy" v-if="openID==2">
                <h1>兌換獎品</h1>
                <div class="buy-all">
                    <div class="buy-c" v-for="obj in commodity">
                        <div class="buy-img">
                            <img :src="obj.img" :alt="obj.content">
                        </div>
                        <div class="detail">
                            <h2>售價：{{obj.price}}</h2>
                            <div class="send" @click="point>=obj.price?exchange(obj.id,obj.content,obj.price):alert('兌換點數不足','error')">兌換獎品</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history" v-if="openID==3">
                <h1>兌換紀錄</h1>
                <div class="history-list">
                    <div>
                        <div class="level-n2">獎品</div>
                        <div class="level2">價格</div>
                        <div class="level-c2">狀態</div>
                    </div>
                    <div v-for="obj in buyHistory">
                        <div class="level-n2">{{obj.content}}</div>
                        <div class="level2">{{obj.price}}</div>
                        <div class="level-c2">{{obj.status}}</div>
                    </div>
                </div>
            </div>
            <div class="goal" v-if="openID==4">
                <h1>成就系統</h1>
                <div class="goal-bl" v-for="(obj,index) in goals">
                    <div class="goalM">
                        <div class="goalT">
                            {{obj.title}} {{obj.limit}} 次
                            <div class="Tl">{{obj.record}}/{{obj.limit}}</div>
                        </div>
                        <div :class="obj.status=='可兌換'?'goalBB':'goalB'" @click="obj.status=='可兌換'?goalSend(index):alert('尚未達成成就！','error')">{{obj.status}}</div>
                    </div>
                    <div class="goalS">
                        <div v-for="index in obj.maxTime" class="gsp">
                            <div :class="(index)==obj.maxTime?'goalS-ll':'goalS-l'" :style="((index)<=obj.times)?'background-color:red':''"></div>
                            <div class="sp" v-if="(index)!=obj.maxTime"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar" v-if="openID==5">
            </div>
            <div class="pet" v-if="openID==6">
                <div class="pet-main">
                    <div class="pet-name">
                        {{pet.name}} <i class="fa-solid fa-pencil pencil" @click="renamePet()"></i>
                    </div>
                    <div class="pet-img">
                        <img :src="pet.img" alt="">
                    </div>
                    <div class="pet-c"></div>
                    <div class="pet-progress">
                        <div class="pet-pp">
                            <div class="pp-lv">Lv {{pet.level}}</div>
                            <div class="pp-c">
                                <div class="pp-cc" :style="pet_pp"></div>
                            </div>
                        </div>
                        <div class="pet-pbtn" @click="pet.feedStatus=='已完成'?alert('今日已餵食','warn'):feedPet()" v-text="pet.feedStatus=='已完成'?'已餵食':'餵食'"></div>
                    </div>
                </div>
                <div class="pet-skill">
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=1)"></i>LV1 寵物贈禮 10點/天</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=2)"></i>LV5 寵物加成 5 次</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=3)"></i>LV10 寵物贈禮 15點/天</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=4)"></i>LV15 寵物加成 10 次</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=5)"></i>LV20 寵物贈禮 20點/天</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=6)"></i>LV25 寵物加成 15 次</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=7)"></i>LV30 寵物贈禮 25點/天</div>
                    <div class="psk"><i class="fa-solid fa-lock lock" v-if="!(pet.skillStatus>=8)"></i>LV35 寵物加成 20 次</div>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-bars bars" id="bars" @click="openList()"></i>
        <div class="bar-list" id="bl">
            <div class="bl-c" @click="openFrame(0)">遊玩遊戲</div>
            <div class="bl-c" @click="openFrame(1)">歷史紀錄</div>
            <div class="bl-c" @click="openFrame(2)">兌換獎品</div>
            <div class="bl-c" @click="openFrame(3)">兌換紀錄</div>
            <div class="bl-c" @click="openFrame(4)">成就系統</div>
            <div class="bl-p">
                <p>頭獎機率：{{prob}}%</p>
                <p>永久加成：{{fadded}}/50</p>
                <p>寵物加成：{{padded}}/20</p>
                <p>系統加成：{{added}}/100</p>
            </div>
        </div>
        <div class="header">
            <h1>每日刮刮樂</h1>
            <p>期許每一天的你都完成了目標</p>
            <i class="fa-solid fa-arrows-rotate refresh" id="refresh" @click="changeEnabled?changePrize():''"></i>
        </div>
        <div class="left-col">
            <div class="lc-item" @click="col(5,'日曆紀錄',false)"><img src="img/calandar.png" alt="" title="日曆紀錄"></div>
            <div class="lc-item" @click="col(0,'隨機贈禮',false)"><img src="img/gift.png" alt="" title="隨機贈禮"></div>
            <div class="lc-item" @click="col(0,'夥伴協助',false)"><img src="img/partner.png" alt="" title="夥伴協助"></div>
            <div class="lc-item" @click="col(6,'寵物贈禮',true)"><img :src="pet.img==undefined?'img/chick1.png':pet.img" alt="" title="寵物贈禮"></div>
            <div class="lc-item" @click="col(0,'心聲對話桶',false)"><img src="img/mailbox.png" alt="" title="心聲對話桶"></div>
        </div>
        <div class="right-col">
            <div class="lc-item" @click="col(0,'系統公告',false)"><img src="img/speaker.png" alt="" title="系統公告"></div>
            <div class="lc-item" @click="col(0,'背包功能',false)"><img src="img/backpack.png" alt="" title="背包功能"></div>
            <div class="lc-item" @click="col(0,'問題回報',false)"><img src="img/report.png" alt="" title="問題回報"></div>
        </div>
        <canvas class="canvas" id="canvas"></canvas>
        <div class="list">
            <div class="list-h">
                <div class="autoBtn" @click="autoEnabled?autoScratch():''">自動刮開</div>
                <div class="stageList">
                    <div class="stage" @click="useStage(1)">
                        <div class="stageRemain">{{stageRemain.stage1}}</div>
                        <img src="img/stage1.png" alt="機率提升" title="機率提升">
                    </div>
                    <div class="stage" @click="useStage(2)">
                        <div class="stageRemain">{{stageRemain.stage2}}</div>
                        <img src="img/stage2.png" alt="透視卡牌" title="透視卡牌">
                    </div>
                    <div class="stage" @click="useStage(3)">
                        <div class="stageRemain">{{stageRemain.stage3}}</div>
                        <img src="img/stage3.png" alt="獎勵翻倍" title="獎勵翻倍">
                    </div>
                    <div class="stage" @click="useStage(4)">
                        <div class="stageRemain">{{stageRemain.stage4}}</div>
                        <img src="img/stage4.png" alt="再抽一次" title="再抽一次">
                    </div>
                    <div class="stage" @click="useStage(5)">
                        <div class="stageRemain">{{stageRemain.stage5}}</div>
                        <img src="img/stage5.png" alt="抽取建議" title="抽取建議">
                    </div>
                </div>
                <div class="point">累積點數：{{point}}</div>
                <h1>任務列表</h1>
                <div class="remain">剩餘次數：{{remain}}</div>
            </div>
            <div class="list-c" v-for="obj in mission">
                <div>{{obj.name}}</div>
                <div>{{obj.content}}</div>
                <div id="btn" class="btn" @click="obj.checked?'':submit(obj.id)">{{obj.checked?"已完成":"確認完成"}}</div>
            </div>
            <div class="addList" v-if='showAddListBtn' @click="addList()"><i class="fa-solid fa-plus"></i></div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/026fbb8b51.js" crossorigin="anonymous"></script>
</html>